<!-- <app-hompe-page></app-hompe-page> -->
<!--<nav><a routerLink="/menu" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Menu</a> <br>
    <a routerLink="/hompe-page" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a></nav>-->
<!--<app-student></app-student>
<app-form></app-form>-->
<!-- <app-menu></app-menu> -->
<!-- <app-hompe-page></app-hompe-page> -->
<!-- <router-outlet></router-outlet> -->

<!--<app-data-exchange-demo></app-data-exchange-demo>-->
<!--<app-http-example></app-http-example>-->

<!--<app-homepage></app-homepage>
<app-addstudent></app-addstudent>
<app-studentdetails></app-studentdetails>
<app-addcourse></app-addcourse>
<app-course-details></app-course-details>
<app-registerresult></app-registerresult>
<app-get-results></app-get-results>

<app-demo></app-demo>-->
<!-- <h1>Students Data</h1>
<div class="row">
    <div class="col-md-3">    

<ul>
    
    <li><a routerLink="addstudent">addstudent</a></li>
    <li><a routerLink="studentdetails">studentdetails</a></li>
    <li><a routerLink="addcourse">addcourse</a></li>
    <li><a routerLink="course-details">coursedetails</a></li>
    <li><a routerLink="studentresults">Student results</a></li>
    <li><a routerLink="registerresult">`Add Student Result</a></li>
</ul> 
</div>
<div class="col-md-9">
<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>
</div>
</div> -->
<!-- <app-employee-registration></app-employee-registration>
<app-addstudent></app-addstudent>-->
<!-- <app-employee-details></app-employee-details> -->
<!-- <app-student-registration></app-student-registration>-->
<!-- <app-student-details></app-student-details> 
<app-academic-registration></app-academic-registration> -->
<!-- <app-home></app-home> -->
<!-- 
<app-child-component></app-child-component>
<app-child2></app-child2> -->

<!-- <div class="dropdown">
    <button class=" btn dropdown-toggle" id="dropdownmenu" data-toggle="dropdown"
    aria-expanded="false" >
    Academic
</button>
    <div class=" dropdown-menu" aria-labelledby="dropdownmenu"> 

    <a class="dropdown-item" href="#" > AcademicDetails</a>
    <a class="dropdown-item" href="#"> AcademicRegistration</a>
    </div>
</div>
<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div> -->
  
  <!-- <app-college-header></app-college-header> -->
   <!-- <app-sadhvi></app-sadhvi> -->
  
  <app-home></app-home>