<body>
   <div id="header">
      <h1> MAD ENGINEERING COLLEGE</h1>
      <h4>Affialted to JNTU university since 2001</h4>
      <h6>Code:<strong>MEC</strong>, Address:<strong>Karimnagar,505122</strong></h6>
   </div>
   <hr>
   
   <nav>
      <div id="menu">
      <ul >
         <!-- <app-home></app-home> -->
         <li><a routerLink="aboutus">Aboutus</a></li>
         <li><a routerLink="contact">Contact</a></li>
         <li><a routerLink="courses">Courses</a></li>
         <li><a routerLink="home">Home</a></li>
         
      </ul>
      </div>
     
      
      <div class="row">
         <div class="col-lg-3">
            
         </div>
         <div class="col-lg-9">
            <router-outlet></router-outlet>
         </div>
            
    
      </div>
     

   </nav>
   <div>

   </div>
</body>