<body>

<div class="card-row">
    <div class="d-flex flex-row justify-content-start" >
        <div class="card" width="10px" height="300px" id="civil">
            <div>
                <h2 class="bg-primary card-title">Civil Engineering</h2>
            </div>
            <div>
                <p class="card-body">
                    A civil engineer is a person who practices civil engineering – the application of planning, designing,
                    constructing, maintaining,
                    and operating infrastructure while protecting the public and environmental health, as well as improving
                    existing infrastructure
                    that may have been neglected.
                </p>
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <div class="d-flex flex-row justify-content-center">
        <div class="card" width="100px" height="300px" id="mechanical">
            <div class="card-body">
                <h2 class="bg-primary">Mechanical Engineering</h2>
                <p class="card-text">
                    Mechanical engineering is the study of physical machines that may involve force and movement.
                     It is an engineering branch that combines engineering physics and mathematics principles with materials science, to design, analyze, manufacture, and maintain mechanical systems.
                    It is one of the oldest and broadest of the engineering branches.
                </p>
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <div class="d-flex flex-row justify-content-center">
        <div class="card" width="100px" height="300px" id="computer">
            <div>
                <h2 class="bg-primary">Computer Science Engineering</h2>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Computer science and engineering (CSE) is an academic program at many universities which comprises approaches of computer science and computer engineering.
                    There is no clear division in computing between science and engineering, just like in the field of materials science and engineering.
                    However, some classes are historically more related to computer science (e.g. data structures and algorithms), and other to computer engineering (e.g. computer architecture).
                    CSE is also a term often used in Europe to translate the name of technical or engineering informatics academic programs. 
                    It is offered in both undergraduate as well postgraduate with specializations.s.
                </p>
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <div class="d-flex flex-row justify-content-center">
        <div class="card" width="100px" height="300px" id="it">
            <div>
                <h2 class="bg-primary">IT Engineering</h2>
            </div>
            <div class="card-body">
                <p class="card-text">
                    The components of information engineering include more theoretical fields such as machine learning, artificial intelligence, 
                    control theory, signal processing, and information theory, and more applied fields such as computer vision, natural language processing,
                     bioinformatics, medical image computing, cheminformatics, autonomous robotics, mobile robotics, and telecommunications.Many of these originate from computer science,
                     as well as other branches of engineering such as computer engineering, electrical engineering, and bioengineering.
                </p>
            </div>
        </div>
    </div>
    

</div>
</body>